@import url('https://fonts.googleapis.com/css2?family=Fantasy&display=swap');

/* Apply the Fantasy font to the desired elements */
*{
  padding:0%;
  margin:0%;
  box-sizing: border-box;
}
body{
  font-family: 'Fantasy','sans-serif';
  width:100%;
  height:100vh;
  background: #121214;
  display: grid;
  place-items: center;
}
header{
  width:85%;
  height:95%;
  /*border: 1px solid #091663;*/
  display: flex;
  background: #111727;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}
header .menuside, .songside{
  width:25%;
  height:90%;
  /*border:1px solid #fff;*/
  box-shadow: 5px 0px 2px #090f1f;
  color:#fff
}
header .songside{
  width:75%;
  height:90%;
  background: #0b1320;
}
header .masterplay{
  width:100%;
  height:10%;
  /*border:1px solid #fff;*/
  background: #0b1320;
  box-shadow: 0px 3px 8px #090f1f;
}
header .menuside h1{
  font-size: 20px;
  margin:15px 0px 0px 20px;
  font-weight: 500;
}
header .menuside .playlist{
  
  margin:40px 0px 0px 20px;
  
}
header .menuside .playlist h4{
  
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 10px;
  color:#453375;
  cursor:pointer;
  display:flex;
  align-items: center;
  transition: .5s linear;
  
}

header .menuside .playlist h4:hover{
  
color:#b55757;
  
}
header .menuside .playlist h4 span{
  
  position:relative;
  margin-right: 25px;
    
}
header .menuside .playlist h4 span::before{
  content: '';
  position:absolute;
  width:4px;
  height:4px;
  border:2px solid #4c5262;
  border-radius: 50%;
  top:-4px;
  transition: .5s linear;     
}
header .menuside .playlist h4:hover span::before{
  border:2px solid #65c144;   
}
header .menuside .playlist h4 .bi{
  display:none;  
}
header .menuside .playlist .active{
  color: #65c144;  
}
header .menuside .playlist .active span{
  display:none; 
}
header .menuside .playlist .active .bi{
  display:flex; 
  margin-right: 20px;
}
header .menuside .menusong{
  width: 100%;
  height:370px;
  /*border:1px solid #fff;*/
  margin-top: 40px;
  overflow: auto;
}
header .menuside .menusong::-webkit-scrollbar {
  display:none;
}
header .menuside .menusong li{
  list-style-type: none;
  position: relative;
  padding: 5px 0px 0px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .5s linear;
}
header .menuside .menusong li:hover{
  background:rgb(10, 105, 10, .3);
}
header .menuside .menusong li span{
  font-size: 12px;
  font-weight: 600;
  color:#4c5262;
}
header .menuside .menusong li img{
  width:30px;
  height:30px;
  margin-left: 25px;
}
header .menuside .menusong li h5{
  font-size: 11px;
  margin-left: 15px;
  width:150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
header .menuside .menusong li h5.subtitle{
 font-size: 9px;
 color:#4c5262;
}
header .menuside .menusong li .bi{
  position: absolute;
  right:15px;
 }
header .masterplay{
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
header .masterplay .wave{
  width:40px;
  height: 40px;
  /*border: 1px solid #fff;*/
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}
header .masterplay .wave .wave1{
  width:3px;
  height:10px;
  background: #5d17d7;
  margin-right: 3px;
  border-radius: 10px 10px 0px 0px;
  animation: wave .4 linear infinite;
}
header .masterplay .wave .wave1:nth-child(2){
  
  height:13px;
  margin-right: 3.5px;
  animation-delay: .2;
  
}
header .masterplay .wave .wave1:nth-child(3){
  
  height:8px;
  animation-delay: .8;
  
}
@keyframes wave{
  0%{
    height:10px;

  }
  50%{
    height:20px;
    
  }
  100%{
    height:15px;
    
  }
}
header .masterplay img{
  width:40px;
  height:40px;
}
header .masterplay h5{
  width:130px;
  /*border:1px solid #fff;*/
  margin-left: 15px;
  color: #fff;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}
header .masterplay h5 .subtitle{
  
  font-size: 11px;
  color: #4c5262;
  width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header .masterplay .icon{
  
  font-size: 20px;
  color:#fff;
  margin:0px 20px 0px 40px;
  outline: none;
  display:flex;
  align-items: center;
}
header .masterplay .icon .bi{
  cursor:pointer;
  outline:none;
  
}
header .masterplay .icon .shuffle{
  font-size: 17px;
  margin-right: 10px;
  width:18px;
  overflow: hidden;
  display:flex;
  align-items: center;
}
header .masterplay .icon #downloadmusic .bi{
  font-size: 20px;
  margin-left: 10px;
}
header .masterplay .icon .bi:nth-child(3){
  border:1px solid rgb(10, 105, 10, .3);
  border-radius: 50%;
  padding: 1px 5px 0px 7px;
  margin:0px 5px;
}
header .masterplay span{
  color: #fff;
  width: 32px;
  font-size: 11px;
  font-weight: 400;
}
header .masterplay #currentstart{
  margin: 0px 0px 0px 20px;
}
header .masterplay .bar{
  position: relative;
  width:43%;
  height: 2px;
  background: rgba(2, 140, 233, 0.3);
  margin: 0px 15px 0px 10px;
}
header .masterplay .bar .bar2{
  position: absolute;
  background: #5d17d7;
  width: 50%;
  height:100%;
  top: 0;
  transition: 1s linear;
}
header .masterplay .bar .dot{
  position: absolute;
  width: 5px;
  height:5px;
  background: #5d17d7;
  border-radius: 50%;
  left:0%;
  top:-1.5px;
  transition: 1s linear;
  
}
header .masterplay .bar .dot::before{
  position: absolute;
  content: '';
  width:15px;
  height: 15px;
  border-radius: 50%;
  border:1px solid #130fe1;
  left:-7px;
  top:-6.5px;
  box-shadow: inset 0px 0px 3px #5d17d7;
}
header .masterplay .bar input{
  position: absolute;
  width:100%;
  top:-7px;
  left:0;
  z-index: 99999999999999999;
  cursor: pointer;
  opacity: 0;

}
header .masterplay .vol{
  position: relative;
  width: 100%;
  height: 2px;
  margin-left: 50px;
  background: #09083f;
}
header .masterplay .vol .bi{
  position: relative;
  color: #fff;
  font-size: 25px;
  top: -17px;
  left: -30px;
}
header .masterplay .vol input{
  position: absolute;
  width:100%;
  top: -6px;
  left:0;
  cursor: pointer;
  z-index: 999999999999999999999;
  opacity: 0;
  
}
header .masterplay .vol .volbar{
  position: absolute;
  width:50%;
  height: 100%;
  top: 0;
  transition: 1s linear;
  background: #453375;
  
  
}
header .masterplay .vol .dot::before{
  position: absolute;
  content: '';
  width:15px;
  height: 15px;
  border-radius: 50%;
  border:1px solid #130fe1;
  left:-7px;
  top:-6.5px;
  box-shadow: inset 0px 0px 3px #5d17d7;
 
}
header .masterplay .vol .dot{
  position: absolute;
  width: 5px;
  height:5px;
  background: #5d17d7;
  border-radius: 50%;
  left:0%;
  top:-1.5px;
  transition: 1s linear;
  
 
}
header .songside{
  z-index: 2;
}
header .songside::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 300px;
  background: url('bg.png');
  z-index: -1;
}
header .songside nav{
  width: 90%;
  height: 10%;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .songside nav ul{
  display: flex;
}
header .songside nav ul li{
  list-style: none;
  position: relative;
  font-size: 13px;
  color: #b55757;
  margin-right: 25px;
  cursor: pointer;
  transition: .3s linear;
}
header .songside nav ul li:hover{
  color: #fff;
}
header .songside nav ul li:nth-child(1){
  color: #fff;
}
header .songside nav ul li span{
  position: absolute;
  width: 100%;
  height: 2.5px;
  background: #453375;
  bottom: -5px;
  left: 0;
  border-radius: 20px;
 
}
header .songside nav .search{
  position: relative;
  width: 40%;
  padding:1px 10px;
  border-radius: 20px;
  color: grey;
 
}
header .songside nav .search::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(10, 2, 96, 0.3);
  border-radius: 20px;
  backdrop-filter: blue(5px);
  z-index: -1;
}
header .songside nav .search .bi{
  font-size: 13px;
  padding: 3px 0px 0px 10px;
}
header .songside nav .search input{
  background: none;
  border: none;
  outline: none;
  padding: 0px 10px;
  font-size: 12px;

}
header .songside nav .user{
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;

}
header .songside nav .user img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 8px #121213;
 

}
header .songside nav .user img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 8px #121213;
}
header .songside .content{
  width: 90%;
  height: 30%;
  margin:auto;
  padding-top: 20px;

}
header .songside .content h1{
  font-size: 25px;
  font-weight: 600;
}
header .songside .content p{
  font-size: 11px;
  font-weight: 400;
  color:4c5262;
  margin: 5px;
}
header .songside .content .button{
  margin-top: 15px;
}
header .songside .content  .button button{
  width: 130px;
  height: 30px;
  outline: none;
  border-radius: 20px;
  background: #5adae0;
  color: #fff;
  cursor: pointer;
  transition: .3s linear;
}
header .songside .content  .button button:hover{
  background: none;
  color: #36e2ec;
  
}
header .songside .content  .button button:nth-child(2){
  background: none;
  color: #36e2ec;
}
header .songside .content  .button button:nth-child(3){
  background: none;
  color: #36e2ec;
}
header .songside .popularsong{
  width: 90%;
  height: auto;
  margin:auto;
  margin-top: 15px;

}
header .songside .popularsong .h4{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .songside .popularsong .h4 .bi{
  color: #a4a8b4;
  cursor: pointer;
  transition: .3s linear;
}
header .songside .popularsong .h4 .bi:hover{
  color: #fff;
}


header .songside .popularsong .popsong{
  width: 100%;
  height: 150px;
  margin-top: 15px;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}
header .songside .popularsong .popsong::-webkit-scrollbar{
  
  display: none;
  
}
header .songside .popularsong .popsong li{
  min-width: 100px;
  height: 140px;
  list-style-type: none;
  margin-right: 10px;
  transition: .3s linear;
}
header .songside .popularsong .popsong li:hover{
  background: rgb(105, 105, 10, .3);
}
header .songside .popularsong .popsong li .imgplay{
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
header .songside .popularsong .popsong li .imgplay img{
  width: 100%;
  height: 100%;

 
}
header .songside .popularsong .popsong li .imgplay .bi{
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  transition: .3s linear;  
  opacity: 0;
}
header .songside .popularsong .popsong li .imgplay .bi{
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  transition: .3s linear;  
  opacity: 0;
}
header .songside .popularsong .popsong li:hover .imgplay .bi{
    
  opacity: 1;
}
header .songside .popularsong .popsong li h5{
  padding: 5px 0px 0px 5px;
  line-height: 15px;
  font-size: 10px;
  width:100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
}
header .songside .popularsong .popsong li h5 .subtitle{
  
  font-size: 9px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #5d17d7;
  
}
header .songside .popularartist{
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 15px;
  
}
header .songside .popularartist .h4{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .songside .popularartist .h4 .bi{
  color: #a4a8b4;
  cursor: pointer;
  transition: .3s linear;
}
header .songside .popularartist .h4 .bi:hover{
  color: #fff;
}
header .songside .popularartist .item{
  width: 100%;
  height: auto;
  margin-top: 15px;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  
}
header .songside .popularartist .item::-webkit-scrollbar{
  display: none;
  
}
header .songside .popularartist .item li{
  list-style-type: none;
  position: relative;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}
header .songside .popularartist .item li img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


